{% extends 'links/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <a href="{% url 'links:index' %}" class="btn btn-primary">
            <i class="fas fa-align-left"></i>
            All Links
        </a>
        <a href="{% url 'links:new' %}" class="btn btn-outline-primary">
            <i class="fas fa-plus"></i>
            Create new one
        </a>
    </div>
    <h1 class="mt-2">Created tiny link</h1>
    <hr class="mt-0 mb-4">
    <div class="card" id="card-shadow">
        <div class="card-header">
            <span class="badge badge-info">
                <h5>
                    {{ link.orig_link }}
                </h5>
            </span>
            <p class="font-weight-normal">Used {{ link.follow_quantity }} times</p>
        </div>
        <div class="card-body">
            <a class="card-title"
               href="http://127.0.0.1:8000/links/{{ link.tiny_link }}">http://127.0.0.1:8000/links/{{ link.tiny_link }}</a>
            <a href="{% url 'links:open' link.tiny_link %}" class="btn btn-primary">
                Open
            </a>
            <a href="{% url 'links:delete' link.id %}" class="btn btn-danger">
                REMOVE
            </a>
        </div>
    </div>
{% endblock %}